/*Primera fuente*/
@font-face {
  font-family: 'MiFuente'; /* Nombre que usar치s para referenciar la fuente */
  src: url('font/varien.otf') format('opentype'); /* URL relativa */
  font-weight: normal; /* Peso de la fuente */
  font-style: normal; /* Estilo de la fuente */
}

/* Segunda fuente */
@font-face {
  font-family: 'SegundaFuente'; /* Nombre para referenciar la segunda fuente */
  src: url('font/UNDERRATED-UltraBold\ Personal\ Use.otf') format('opentype'); /* URL relativa a la segunda fuente */
  font-weight: normal;
  font-style: normal;
}

main{
  background-color: #0F34AB;
  margin: 0;
  overflow-x: hidden;
}

.fixed-top{
  background-color: #0F34AB;
}

.navbar-toggler{
  background-color: #0F34AB;
}
.nav-item a{
  text-decoration: none;
  color: white;
  font-family: "MiFuente";
}

.carousel-inner .carousel-item{
    height: 100vh;
    object-fit: cover;
    position: relative;
}

.carousel-inner .carousel-item img {
    height: 100%;
    object-fit: cover;
    filter: grayscale(0.5);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.502);
    z-index: 1;
    font-family: "SegundaFuente";
  }

.overlay h1 {
    font-size: 2rem;
  }
.overlay a{
  font-family: "MiFuente";
}

#info-section{
  padding-top: 4rem; /* Espaciado superior */
  padding-bottom: 2rem;
  background-color: #f1f2f6; /* Color de fondo */
  min-height: 100vh; /* Ocupa al menos el 100% de la altura de la ventana */
  display: flex; /* Usamos flexbox para alinear elementos */
  align-items: center; /* Centra verticalmente */
  font-family: "SegundaFuente";
}

#info-section a{
  font-family: "MiFuente";
}
 
.container {
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
  box-sizing: border-box; /* Para incluir padding en el c치lculo del tama침o */
}

#serv-section{
  padding-top: 4rem; /* Espaciado superior */
  background-color: #0F34AB; /* Color de fondo */
  min-height: 100vh; /* Ocupa al menos el 100% de la altura de la ventana */
  display: flex; /* Usamos flexbox para alinear elementos */
  align-items: center;
  color: white;
  font-family: 'MiFuente';
}

#serv-section .col{
  font-size: 1rem;
  margin-top: 5rem;
  color: #0F34AB;
}
#serv-section .col i{
  color: white;
  font-size: 1.8rem;
}

#contac-section{
  padding-top: 4rem; /* Espaciado superior */
  background-color: #0F34AB; /* Color de fondo */
  min-height: 100vh; /* Ocupa al menos el 100% de la altura de la ventana */
  display: flex; /* Usamos flexbox para alinear elementos */
  align-items: center;
  color: white;
  font-family: 'MiFuente';
}

.whatsapp-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 20px;
  right: 20px;
  background-color:#007bff;
  color: #25d366;;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.whatsapp-float i {
  margin-top: 15px;
}

.phone-float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 100px; /* Para que no se superponga con el bot칩n de WhatsApp */
  right: 20px;
  background-color:#007bff ;
  color: white;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.phone-float i {
  margin-top: 15px;
}


footer{
  background-color: #0F34AB;
}

@media (min-width: 900px) {
  .google-map-link {
    margin-left: 365px; /* Mueve el enlace hacia la derecha */
  }

  .overlay h1 {
    text-justify: auto;
    margin: 4rem;
  }
  
  footer{
    text-align: center;
  }

}